parameters:
  level: 7
  paths:
    - src 
    - bin 
    - mappings
  excludes_analyse:
    - */tests/*/data/*
  ignoreErrors:
    - '~Parameter #2 \$csvFile of method UserAgentParserComparison\\Command\\Parse::putcsv~'
includes:
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
